.Circle{
    display: inline-block;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-color: white;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 10rem;
}
.Circle.active{
    box-shadow: inset 0px opx 5px black;
    background: black;
}