
.container{
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}


.even{
  background-color: rgb(36, 124, 153);
}
.odd{
  background-color: rgb(0, 255, 34);
}
.like{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 5px;
  padding: 1rem;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  margin-left: 18em;
  
  
}
.btn{
  width: 100px;
  height: 25px;
  border-radius: 10%;
  margin: 1rem;
  background-color: lightcyan
}
.main{
  
  text-align: center;
  

}
