body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

background: linear-gradient(to right, #0ABFBC, #FC354C); 
color: white;



}

.btn {
color: white;
background-color: rgb(231, 127, 108);
font-size: 1rem;
margin: 1rem;
margin-left: 10rem;
box-shadow: 0px 0px 15px;

}
.App p{
  font-size: 2rem;
  text-align: center;
}
.App h1{
  text-align: center;
}